<head>
  <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,400italic' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="/navbar.css">
</head> 

<body>
  <header>
    <div id="navbar" class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse navHeaderCollapse">
          <ul class="nav navbar-nav navbar-left" id="navbar_items">

                <li id="navlogo">
                  <%= link_to '/Full Sight:', :root %>
                </li>

                <li id="news">
                  <%= link_to 'News', '/articles/news.html' %>
                </li>

                <li id="union">
                  <%= link_to 'State Of the Union', '/articles/union.html' %>
                </li>

                <li id="cooking">
                  <%= link_to 'Cooking', '/articles/cooking.html' %>
                </li>

                <li id="longform">
                  <%= link_to 'Long-Form', '/articles/longform.html' %>
                </li>

                <li id="sports">
                  <%= link_to 'Sports', '/articles/sports.html' %>
                </li>
                    
            </ul>
           </div>
            
        </div>

      </div>
    </div>
  </header>

</body>