<h1>All <%= @issue.topic %> Articles</h1>


<ul>
	<% @issue.articles.order(:created_at).each do |article| %>
		<h2><%= link_to article.title, article %></h4>
		<h4>by <%= article.author %></h4>
		<h4><%= article.content %></h4>
		<img src=<%= article.picture_url %> class="img-thumbnail">
		</br>
		</br>
	<% end %>
</ul>