<h1><%= @article.title %></h1>
<h3>by <%= @article.author %></h3>
<p><%= @article.content %></p>
<img src=<%= @article.picture_url %> class="img-thumbnail">
</br>
</br>
<% @article.hashtags.each do |hashtag| %>
	<h3><%= hashtag.name %></h3>
	<% end %>